body{
    margin: 0;
    padding: 0;
    background-color: #ecff5e;
}

header{
    text-align: center;
    width: 1400px;
    font-size: 30px;
    max-height: 200px;
}

#logo{
    position: relative;
    float: left;
    width: 230px;
    top: -30px;
}

main{
    width: 1400px;
    background-color: #fff;
    margin: 0px auto;
    border: 2px solid;
    border-top: none;
    border-bottom: none;
}

nav{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    min-height: 100px;
    overflow: hidden;
}

nav li{
    list-style-type: none;
    display: inline;
}

nav li a{
    position: relative;
    text-decoration:none; 
    border: 2px solid black;
    box-shadow: 2px 2px;
    color:black; 
    padding: 10px;
    top: 52px;
}

#login{
    float: right;
    position: relative;
    padding: 10px;
    border: 2px solid black;
    box-shadow: 2px 2px;
    top: 5px;    
}

#buffer{
    background-color: #fff;
    min-height: 2px;
    border-bottom:2px black solid;
}

.main{
    min-width: 700px;
    max-width: 1400px;
    min-height: 400px;
    float: left;
    padding-bottom: 10px;
    line-height: 20px;
    margin: 40px;
	background-color: #fff;
}

ol{
    line-height: 45px;
}

ol.custom {
    list-style-type: none;
  }
  
  ol.custom > li {
    counter-increment: customlistcounter;
  }
  
  ol.custom > li:before {
    content: "#" counter(customlistcounter);
    font-weight: bold;
  }
  
  ol.custom:first-child {
    counter-reset: customlistcounter;
  }

  aside{ 
    float: left;
    margin: 40px;
    
  }

  footer{
    width: 1400px;
    clear: left;
    text-align: center;
    border-bottom: 2px solid black; 
    padding-top: 100px;
    padding-bottom: 20px;
}

  #datori{
    width: 400px;
  }
  
  form{
		margin: 40px;
		float: left;
		text-align: center;
	}
	
	

  @media only screen and (max-width: 600px){

    main{
        width: 100%;
    }
    header{
        width: 100%;
    }

    .main{
        width: 50%;
    }

    aside{
        width: 50%;
    }

    footer{
        width: 100%;
    }
    
    h1{
        font-size: 20px;
    }

    #logo{
        width: 80%;
    }

    #datori{
        width: 100%
    }
    nav li a{
        padding: 2px;
    }

    #login{
        padding: 2px;
        top: 48px;
    }

    nav{
        width: 100%;
    }

    body{
        height:100%;
        background-color: #ecff5e;
    }
	
}


@media only screen and (max-width: 400px){

    main{
        width: 100%;
    }

    header{
        width: 100%;
    }

    .main{
        width: 50%;
    }

    aside{
        width: 50%;
    }

    footer{
        width: 100%;
    }
    
    h1{
        font-size: 15px;
    }

    #logo{
        width: 20%;
        margin: 5px;
    }

    #datori{
        width: 100%
    }
    nav li a{
        padding: 2px;
    }

    #login{
        padding: 2px;
        top: 48px;
    }

    nav{
        width: 100%;
    }

    body{
        width: 100%;
    }

}